<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title" id="testgroupModalLabel">
                    <i class="fa fa-share-alt"></i> {{ testgroupEditmode!=0 ? 'Edit TestGroup':'Add TestGroup' ;   }}
                </h3>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" name="testgroupform">
                    <div class="form-group">
                        <label for="title" class="col-sm-2 control-label">TestGroup Id</label>
                        <div class="col-sm-10">
                            <span>{{testgroup.TestGroupId}}</span>
                        </div>
                    </div>
                    <div ng-class="{'form-group has-success has-feedback': testgroupform.testgroupname.$valid && testgroupform.testgroupname.$dirty,
                                    'form-group has-error has-feedback': (testgroupform.testgroupname.$invalid && testgroupform.testgroupname.$dirty) || testgroupform.testgroupname.$error.required ,
                                    'form-group ': !testgroupform.testgroupname.$dirty}">
                        <label for="title" class="col-sm-2 control-label">TestGroup Name</label>
                        <div class="col-sm-10">
                            <input placeholder="TestGroup Name" required type="text" id="testgroupname"
                                   name="testgroupname" ng-model="testgroup.TestGroupName" title="Enter The TestGroup Name"
                                   ng-minlength="5" ng-maxlength="20" class="form-control" />
                            <span ng-class="{'glyphicon glyphicon-ok form-control-feedback': testgroupform.testgroupname.$valid && testgroupform.testgroupname.$dirty,
                                             'glyphicon glyphicon-remove form-control-feedback': testgroupform.testgroupname.$invalid && testgroupform.testgroupname.$dirty,
                                             '':!testgroupform.testgroupname.$dirty}"></span>
                            <span ng-show="testgroupform.testgroupname.$error.required " class="label label-danger">Required!</span>
                            <span ng-show="!testgroupform.testgroupname.$error.required && (testgroupform.testgroupname.$error.minlength || testgroupform.testgroupname.$error.maxlength) && testgroupform.testgroupname.$dirty" class="label label-danger">TestGroup Name ust be between 5 and 20 characters.</span>
                        </div>
                    </div>
                    <div ng-class="{'form-group has-success has-feedback': testgroupform.businessunit.$valid && testgroupform.businessunit.$dirty,
                                    'form-group has-error has-feedback': (testgroupform.businessunit.$invalid && testgroupform.businessunit.$dirty) || testgroupform.businessunit.$error.required ,
                                    'form-group ': !testgroupform.businessunitname.$dirty}">
                        <label for="title" class="col-sm-2 control-label">Business Unit</label>
                        <div class="col-sm-10">
                            <select name="businessunit" class="form-control" required ng-model="selectedItem" ng-options="item as item.BusinessUnitName for item in businessunits track by item.BusinessUnitId" ng-change="update(selectedItem)">
                            </select>
                            <span ng-class="{'glyphicon glyphicon-ok form-control-feedback': testgroupform.v.$valid && testgroupform.businessunit.$dirty,
                                             'glyphicon glyphicon-remove form-control-feedback': testgroupform.businessunit.$invalid && testgroupform.businessunit.$dirty,
                                             '':!testgroupform.businessunit.$dirty}"></span>
                            <span ng-show="testgroupform.businessunit.$error.required " class="label label-danger">Required!</span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <span data-ng-hide="testgroupEditmode">
                    <button type="submit" ng-click="close(true)" ng-disabled="testgroupform.$invalid" class="btn btn-primary" data-dismiss="modal">Add</button>
                </span>
                <span data-ng-show="testgroupEditmode">
                    <button type="submit" ng-click="close(true)" ng-disabled="testgroupform.$invalid || !testgroupform.$dirty" class="btn btn-primary" data-dismiss="modal">Update</button>
                </span>
                <button type="button" ng-click="close(false)" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
