
<!-- Main content -->
<section class="content">
    <!-- Main row -->
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <!--<h1>
                        <i class="fa fa-share-alt"></i> TestGroup
                    </h1>-->
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="rows">
                        <div class="col-xs-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><i class="fa fa-share-alt"></i> Test Groups List
                                    </h3>
                                </div>

                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-condensed table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        <div class="rows">
                                                            #
                                                        </div>
                                                        <div class="rows">
                                                        </div>
                                                    </th>
                                                    <th>
                                                        <div class="rows">
                                                            <a href="" ng-click="orderByField='TestGroupName'; reverseSort = !reverseSort">
                                                                Test Group
                                                                <span ng-show="orderByField == 'TestGroupName'">
                                                                    <span ng-class="{'glyphicon glyphicon-circle-arrow-up': !reverseSort,
                                                                                     'glyphicon glyphicon-circle-arrow-down': reverseSort}"></span></span>
                                                            </a>
                                                        </div>
                                                        <div class="input-group">
                                                            <input ng-model="search.TestGroupName" id="search" class="form-control input-sm" placeholder="Description text">
                                                            <span class="input-group-addon"><i class="fa  fa-search"></i></span>
                                                        </div>
                                                    </th>
                                                    <th>
                                                        <div class="rows">
                                                            <a href="" ng-click="orderByField='Description'; reverseSort = !reverseSort">
                                                                Description
                                                                <span ng-show="orderByField == 'Description'">
                                                                    <span ng-class="{'glyphicon glyphicon-circle-arrow-up': !reverseSort,
                                                                                     'glyphicon glyphicon-circle-arrow-down': reverseSort}"></span>
                                                                </span>
                                                            </a>
                                                        </div>
                                                        <div class="input-group">
                                                            <input ng-model="search.Description" id="search" class="form-control input-sm" placeholder="Description text">
                                                            <span class="input-group-addon"><i class="fa  fa-search"></i></span>
                                                        </div>
                                                    </th>
                                                    <th>
                                                        <div class="rows">
                                                            <a href="" ng-click="orderByField='Sequence'; reverseSort = !reverseSort">
                                                                Sequence
                                                                <span ng-show="orderByField == 'Sequence'">
                                                                    <span ng-class="{'glyphicon glyphicon-circle-arrow-up': !reverseSort,
                                                                                     'glyphicon glyphicon-circle-arrow-down': reverseSort}"></span>
                                                                </span>
                                                            </a>
                                                        </div>
                                                        <div class="input-group">
                                                            <input ng-model="search.Description" id="search" class="form-control input-sm" placeholder="Sequence text">
                                                            <span class="input-group-addon"><i class="fa  fa-search"></i></span>
                                                        </div>
                                                    </th>
                                                    <th>
                                                        <div class="rows">
                                                            <div class="text-center">
                                                                <button data-ng-click="TestGroupShowAdd()" type="button" class="btn btn-success  btn-xs">
                                                                    <span class="fa fa-plus-circle"></span> Add TestGroup
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody dir-paginate="testgroup in testgroups | filter:search | filter:q| itemsPerPage: pageSize |orderBy:orderByField:reverseSort" >
                                            <tr current-page="currentPage">
                                                <th scope="row">
                                                    <span class="pull-left-container">
                                                            <span class="label label-primary pull-left">{{$index+1}}</span>
                                                        </span>

                                                </th>
                                                <td>
                                                    {{testgroup.TestGroupName}}
                                                </td>
                                                <td>
                                                    {{testgroup.TestGroupLink[0].Description}}
                                                </td>
                                                <td>
                                                    {{testgroup.TestGroupLink[0].Sequence}}
                                                </td>
                                                <td>
                                                    <div class="text-center">


                                                        <div class="btn-group">
                                                            <button data-ng-click="TestGroupEdit(this,testgroup)" class="btn btn-info btn-xs" type="button">
                                                                <span class="fa fa-pencil-square-o"></span> Edit
                                                            </button>
                                                            <button data-ng-click="TestGroupShowConfirm(testgroup)" class="btn btn-danger btn-xs" type="button">
                                                                <span class="fa fa-trash"></span> Delete
                                                            </button>
                                                            <a href="">
                                                                <div class="handpointer glyphicon glyphicon-chevron-right" ng-click="testgroup.expanded=!testgroup.expanded;collapse($event,this,testgroup.TestGroupId);"
                                                                     aria-expanded="false">
                                                                </div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr ng-show="testgroup.expanded" ng-repeat-end="">
                                                <td colspan="5">
                                                    <div test modelid=testgroup.TestGroupId />
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-1">
                                        </div>
                                        <div class="col-xs-10">
                                            <div>
                                                <div ng-controller="testgroupPaginationController" class="other-controller">
                                                    <div class="text-center">
                                                        <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="scripts/dirPagination.tpl.html"></dir-pagination-controls>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-1">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->

