<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title" id="modelModalLabel">
                    <i class="fa fa-share-alt"></i> {{ modelEditmode!=0 ? 'Edit Model':'Add Model' ;   }}
                </h3>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" name="modelform">
                    <div class="form-group">
                        <label for="title" class="col-sm-2 control-label">Model Id</label>
                        <div class="col-sm-10">
                            <span>{{model.ModelId}}</span>
                        </div>
                    </div>
                    <div ng-class="{'form-group has-success has-feedback': modelform.modelname.$valid && modelform.modelname.$dirty,
                                    'form-group has-error has-feedback': (modelform.modelname.$invalid && modelform.modelname.$dirty) || modelform.modelname.$error.required ,
                                    'form-group ': !modelform.modelname.$dirty}">
                        <label for="title" class="col-sm-2 control-label">Model Name</label>
                        <div class="col-sm-10">
                            <input placeholder="Model Name" required type="text" id="modelname"
                                   name="modelname" ng-model="model.ModelName" title="Enter The Model Name"
                                   ng-minlength="5" ng-maxlength="50" class="form-control" />
                            <span ng-class="{'glyphicon glyphicon-ok form-control-feedback': modelform.modelname.$valid && modelform.modelname.$dirty,
                                             'glyphicon glyphicon-remove form-control-feedback': modelform.modelname.$invalid && modelform.modelname.$dirty,
                                             '':!modelform.modelname.$dirty}"></span>
                            <span ng-show="modelform.modelname.$error.required " class="label label-danger">Required!</span>
                            <span ng-show="!modelform.modelname.$error.required && (modelform.modelname.$error.minlength || modelform.modelname.$error.maxlength) && modelform.modelname.$dirty" class="label label-danger">Model Name ust be between 5 and 50 characters.</span>
                        </div>
                    </div>
                    <div ng-class="{'form-group has-success has-feedback': modelform.family.$valid && modelform.family.$dirty,
                                    'form-group has-error has-feedback': (modelform.family.$invalid && modelform.family.$dirty) || modelform.family.$error.required ,
                                    'form-group ': !modelform.familyname.$dirty}">
                        <label for="title" class="col-sm-2 control-label">Family Name</label>
                        <div class="col-sm-10">
                            <select name="family" class="form-control" required ng-model="selectedItem" ng-options="item as item.FamilyName for item in families track by item.FamilyId" ng-change="update(selectedItem)"></select>
                            <span ng-class="{'glyphicon glyphicon-ok form-control-feedback': modelform.v.$valid && modelform.family.$dirty,
                                             'glyphicon glyphicon-remove form-control-feedback': modelform.family.$invalid && modelform.family.$dirty,
                                             '':!modelform.family.$dirty}"></span>
                            <span ng-show="modelform.family.$error.required " class="label label-danger">Required!</span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <span data-ng-hide="modelEditmode">
                    <button type="submit" ng-click="close(true)" ng-disabled="modelform.$invalid" class="btn btn-primary" data-dismiss="modal">Add</button>
                </span>
                <span data-ng-show="modelEditmode">
                    <button type="submit" ng-click="close(true)" ng-disabled="modelform.$invalid || !modelform.$dirty" class="btn btn-primary" data-dismiss="modal">Update</button>
                </span>
                <button type="button" ng-click="close(false)" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
