<div class="row">
    <div class="col-sm-12">
        <div class="row">
            <h1>
                <i class="fa fa-university"></i> Part Number
            </h1>
            <button data-ng-click="ModelDetailShowAdd()" type="button" class="btn btn-success btn-sm">Add Part Number <span class="glyphicon glyphicon glyphicon-plus"></span></button>
            <p></p>
            <uib-accordion close-others="true" id="modeldetailaccordion">
                <div uib-accordion-group class="panel-primary" ng-repeat="modeldetail in modeldetails" is-open="status.open">
                    <uib-accordion-heading>
                            <i class="fa fa-university"></i>{{modeldetail.PartNumber.PartName}}
                            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                    </uib-accordion-heading>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-4">
                                    <i class="fa fa-university fa-5x"></i>
                                </div>
                                <div class="col-md-4">
                                </div>
                                <div class="col-md-4"></div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-md-8">
                                    <h3>
                                        Part Number:
                                        <small>{{modeldetail.PartNumber.PartName}}</small>
                                        Description:
                                        <small>{{modeldetail.PartNumber.Description}}</small>
                                    </h3>
                                </div>
                                <div class="col-xs-6 col-md-4">
                                    <button data-ng-click="ModelDetailEdit(modeldetail)" class="btn btn-info" role="button">
                                        <span class="glyphicon glyphicon glyphicon-edit"></span>Edit
                                    </button>
                                    <button data-ng-click="ModelDetailShowConfirm(modeldetail)" class="btn btn-danger" role="button">
                                        <span class="glyphicon glyphicon glyphicon-trash"></span>Delete
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="panel-body">
                                
                            </div>
                        </div>
                    </div>
            </uib-accordion>
        </div>
    </div>
</div>