            <!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Business Units
        <small>Control panels</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Catalogs</a></li>
        <li class="active"><i class="fa fa-share-alt"></i> Business Units</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Main row -->
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="rows">
                        <div class="col-xs-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">
                                        <i class="fa fa-share-alt"></i> Business Unit Lists
                                    </h3>
                                </div>
                                <div class="panel-body">

                                    <div class="panel-heading row">
                                        <div class="col-sm-1 col-xs-12 pull-left">#</div>
                                        <div class="col-sm-4 col-xs-12 pull-left">
                                            <div class="rows">
                                                <a href="" ng-click="orderByField='BusinessUnitName'; reverseSort = !reverseSort;Change()">
                                                    Business Unit
                                                    <span ng-show="orderByField == 'BusinessUnitName'">
                                                        <span ng-class="{'glyphicon glyphicon-circle-arrow-up': !reverseSort,
                                                                                     'glyphicon glyphicon-circle-arrow-down': reverseSort}"></span>
                                                    </span>
                                                </a>
                                            </div>
                                            <div class="input-group">
                                                <input ng-model="search.BusinessUnitName" id="search" class="form-control input-sm" placeholder="Business Unit text" ng-change="Change()">
                                                <span class="input-group-addon"><i class="fa  fa-search"></i></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-xs-12 pull-left">
                                            <div class="rows">
                                                <a href="" ng-click="orderByField='BusinessUnitDescription'; reverseSort = !reverseSort;Change()">
                                                    Description
                                                    <span ng-show="orderByField == 'BusinessUnitDescription'">
                                                        <span ng-class="{'glyphicon glyphicon-circle-arrow-up': !reverseSort,
                                                                                     'glyphicon glyphicon-circle-arrow-down': reverseSort}"></span>
                                                    </span>
                                                </a>
                                            </div>
                                            <div class="input-group">
                                                <input ng-model="search.BusinessUnitDescription" id="search" class="form-control input-sm" placeholder="Business Unit Description text" ng-change="Change()">
                                                <span class="input-group-addon"><i class="fa  fa-search"></i></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 col-xs-12 pull-left">
                                            <div class="rows">
                                                <p></p>
                                            </div>
                                            <div class="rows">
                                                <button data-ng-click="BusinessUnitShowAdd()" type="button" class="btn btn-success  btn-xs">
                                                    <span class="fa fa-plus-circle"></span>Add Business Unit
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div ng-repeat="businessunit in businessunits">
                                        <div>
                                            <div class="col-sm-1 col-xs-12 pull-left">
                                                <span class="pull-left-container">
                                                    <span class="label label-primary pull-left">{{$index+1}}</span>
                                                </span>
                                            </div>
                                            <div class="col-sm-4 col-xs-12  pull-left" data-ng-bind="businessunit.BusinessUnitName"></div>
                                            <div class="col-sm-4 col-xs-12  pull-left" data-ng-bind="businessunit.BusinessUnitDescription"></div>
                                            <div class="col-sm-3 col-xs-12  pull-left">
                                                <div class="btn-group">
                                                    <button data-ng-click="BusinessUnitEdit(this,businessunit)" class="btn btn-info btn-xs" type="button">
                                                        <span class="fa fa-pencil-square-o"></span> Edit
                                                    </button>
                                                    <button data-ng-click="BusinessUnitShowConfirm(businessunit)" class="btn btn-danger btn-xs" type="button">
                                                        <span class="fa fa-trash"></span> Delete
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="rows">
                                        <div class="col-xs-1">
                                        </div>
                                        <div class="col-xs-10">
                                            <div class="text-center" ng-show="totalItems>pageSize">
                                                <ul uib-pagination total-items="totalItems" items-per-page="pageSize" ng-change="pageChanged()" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" direction-links="true"></ul>
                                            </div>
                                        </div>
                                        <div class="col-xs-1">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->

